.avatar-container {
  border: 1px grey solid;
  padding: 3px 8px;
  border-radius: 20px 20px;
  margin: 0 8px;
}

.social-link {
  margin: 0 6px;
}

.fa-icon-sm{
  display: inline;
  margin: 6px;
}

.title-wrapper{
  .closing-tags{
    font-size: 114px;
    font-weight: 600;
    text-shadow: 3px 6px 67px rgba(0, 0, 0, 0.3);
  }
  .page-title {
    font-size: 114px;
    color: rgba(88,88,88,.67);
    font-weight: 600;
    text-shadow: 3px 6px 67px rgba(0, 0, 0, 0.3);
  }
  
}
.title-wrapper.software-developer {
  .page-title {
    font-size: 73px;
  }
  span.closing-tags{
    font-size: 76px;
  }
}

