.section-container{
  width: 100%;
  margin: 40px;
}

.about-section {
  background-color: orange;
}

.home-section {
  background-color: #4c4c4c;
}

.work-section {
  background-color: darkgreen;
}

.skills-section {
  background-color: rgb(142, 14, 216);
}