.section-container{
  width: 100%;
  margin: 40px;
}

.homescreen-row {
  margin-top: 111px;
}

.hero-section {
  
  font-size: 80px;
  color: white;
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  // transition: all 2s;
  position: relative;
  .laptop {
    width: 57%;
    max-width: 536px;
  }
  .dino{
    position: absolute;
    right: 3%;
    top: 29%;
        width: 37%;
    min-width: 377px;
    max-width: 460px;
  }
  .trooper {
    position: absolute;
    left: 14%;
    bottom: 109px;
  }
  .bear {
    position: absolute;
    left: -3%;
    top: 32%;
    min-width: 304px;
    width: 33%;
    max-width: 400px;
  }
  .tent {
    position: absolute;
    bottom: 6%;
    right: -4%;
    width: 75%;
    max-width: 686px;
    min-width: 586px;
  }
}

.first-section {
  width: 100%;
  margin-top: 177px;
}