@import './reset.scss';
@import './variables.scss';
@import './environments/App.scss';
@import './ecosystems/ecosystems.scss';
@import './organisms/organisms.scss';
@import './molecules/molecules.scss';
@import './atoms/buttons.scss';
@import './atoms/atoms.scss';

#root{
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  .body-template {
    min-height: 90vh;
    flex-grow: 1
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}
.justify-end {
  justify-content: flex-end;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.action-list-mol {
  display: inline;
}

.side-column-right{
  border-left: 2px lightgrey solid;
}

.active {
  border-bottom: 1px blue solid;
  color: black;
}



.fade-in {
  color: blue;
}
.fade-out {
  color: magenta;
}

.primary-color {
  color: #9AC2B8
}

.secondary-color {
  color: #C9917B
}

.primary-text-color {
  color: rgba(88,88,88,.67)
}