@import './reset.scss';
@import './variables.scss';
@import './environments/App.scss';
@import './ecosystems/ecosystems.scss';
@import './organisms/Header.scss';
@import './organisms/Footer.scss';
@import './organisms/TodoList.scss';
@import './organisms/TodoDetail.scss';
@import './organisms/Form.scss';
@import './molecules/search.scss';
@import './molecules/todo.scss';
@import './atoms/buttons.scss';
@import './atoms/atoms.scss';

#root{
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  .body-template {
    min-height: 90vh;
    flex-grow: 1
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.action-list-mol {
  display: inline;
}

.side-column-right{
  border-left: 2px lightgrey solid;
}

.active {
  border-bottom: 1px blue solid;
  color: black;
}

.hero-section {
  font-size: 80px;
  color: white;
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: all 2s;
}



.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 3s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}