@import './reset.scss';
@import './variables.scss';
@import './environments/App.scss';
@import './ecosystems/ecosystems.scss';
@import './organisms/Header.scss';
@import './organisms/Footer.scss';
@import './organisms/TodoList.scss';
@import './organisms/TodoDetail.scss';
@import './organisms/Form.scss';
@import './molecules/search.scss';
@import './molecules/todo.scss';
@import './atoms/buttons.scss';
@import './atoms/atoms.scss';

#root{
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  .body-template {
    min-height: 90vh;
    flex-grow: 1
  }
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.action-list-mol {
  display: inline;
}

.side-column-right{
  border-left: 2px lightgrey solid;
}

.active {
  border-bottom: 1px blue solid;
  color: black;
}

.hero-section {
  font-size: 80px;
  color: white;
  width: 100vw;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transition: all 2s;
  border-bottom: 3px magenta solid;
}


.page{
  transition: all .4s;
  transform: scale(1)  
}
.page-enter {
  // background-color: magenta;

  // opacity: 0.01;
  // transform: scale(0.9) translateY(50%);
  transform: scale(2)
}
.page-enter-active {
  // background-color: blue;
  transform: scale(2)

  // opacity: 1;
  // transform: scale(1) translateY(0%);
  // transition: all 300ms ease-out;
}
.page-exit {
  // background-color: green;
  transform: scale(2)
  // opacity: 1;
  // transform: scale(1) translateY(0%);
}
.page-exit-active {
  // background-color: orange;
  transform: scale( 2)
  
  // opacity: 0.01;
  // transform: scale(0.9) translateY(50%);
  // transition: all 300ms ease-out;
}

.home{
  transition: all .6s 'ease';
  color:black;
}

.fade-in {
  color: blue;
}
.fade-out {
  color: magenta;
}
